{{> publicNavBar}}
<main class="container mt-4">
  <form id="login-form">
    <div class="mb-3">
      <input type="email" class="form-control" id="email" placeholder="Email Address">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</main>